@model ControlCash.Entities.Limit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Limit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TagDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TagDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LimitValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LimitValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LimitId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
